// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;

  h1 {
    color: white;
    margin-left: 105px;
    margin-top: 550px;
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}

.profil-card {
  padding: 15px;
  margin: 10px;
  p {
    letter-spacing: 1.4px;
  }
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.skills-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.row {
  justify-content: center;
}
.col-6 {
  text-align: center;
  justify-content: center;
}

.skills {
  p {
    margin: 10px;
    letter-spacing: 1.5px;
  }
}
